/* General styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

/* Start menu styles */
#start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

#gameCanvas {
    display: none; /* Initially hidden */
    border: 2px solid white;
    background-color: #111;
    margin-top: 20px;
}

/* Settings and Character Menu styles */
#character-menu,
#settings-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #00FF00;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Input styles for menus */
input[type="number"],
input[type="color"] {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #888;
}

/* Settings menu styles */
#settings-menu {
    width: 300px;
}

/* Character menu preview box */
#character-preview {
    width: 50px;
    height: 50px;
    border: 2px solid #FFF;
    margin: 20px 0;
}

/* Game over menu styles */
#game-over-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
